<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55342528216-lfphmq56supep411nlgo2jljpjhq7snd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55342528216-lfphmq56supep411nlgo2jljpjhq7snd</string>
	<key>API_KEY</key>
	<string>AIzaSyBZamKTxlFbwR1Y7Wl1xRW_mEzZYXn6o9I</string>
	<key>GCM_SENDER_ID</key>
	<string>55342528216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testingpush.code</string>
	<key>PROJECT_ID</key>
	<string>gofeed-c3030</string>
	<key>STORAGE_BUCKET</key>
	<string>gofeed-c3030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55342528216:ios:be9b3fe1a29679d7ed49ad</string>
	<key>DATABASE_URL</key>
	<string>https://gofeed-c3030.firebaseio.com</string>
</dict>
</plist>